<app-header [title]="'Cards'"></app-header>

<ion-content class="ion-padding">
  <h3>Basic</h3>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam numquam
      aliquam, iusto itaque dolorum architecto debitis nesciunt repellendus fuga
      quas modi est doloremque eligendi labore harum aliquid adipisci provident
      laboriosam?
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img
      src="https://www.lavoz.com.ar/resizer/HighUXGXTZLUEIiAksGIaCHGVsI=/980x640/smart/filters:quality(75):format(webp)/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/HVVOBKM56NGCFFEQHMUARD7ULI.jpg"
    ></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
      consequuntur, natus ipsa reprehenderit id totam rerum debitis soluta vitae
      dignissimos! Consequatur culpa accusamus beatae excepturi dicta ut ipsam
      possimus autem.
    </ion-card-content>
  </ion-card>
</ion-content>
